<input [(ngModel)]="search" placeholder="digite sua busca" class="form-control" />
<i class="fa-solid fa-magnifying-glass"></i>
<select  class="form-control" [(ngModel)]="type">
  <option value="track">Música</option>
  <option value="album">Álbum</option>
</select>
<button (click)="buscar()" class="btn btn-primary btn-block">Buscar</button>
<div class="btn-group btn-group-toggle d-flex flex-row" role="group">
  <button type="button" class="btn btn-secondary w-100" [class.active]="page=='result'" (click)="page='result'">Resultado</button>
  <button type="button" class="btn btn-secondary w-100" [class.active]="page=='history'" (click)="page='history'">Historico</button>
</div>
<table class="table table-striped" *ngIf="page=='result'">
  <thead>
    <tr>
      <th scope="col">Folder</th>
      <th scope="col">Name</th>
      <th scope="col">Artist</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of result">
      <td class="align-middle">
        <img [src]="item.image[0]['#text']" alt="">
      </td>
      <td class="align-middle">{{item.name}}</td>
      <td class="align-middle">{{item.artist}}</td>
      <td class="align-middle">
        <a class="btn btn-success btn-sm" target="_blank" [href]="item.url"><i class="fa fa-play fa-lg"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<table class="table table-striped" *ngIf="page=='history'">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Search</th>
      <th scope="col">Date</th>
      <th scope="col">Delete?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of service.getHistory(); let i = index">
      <td class="align-middle">{{item.type}}</td>
      <td class="align-middle">{{item.search}}</td>
      <td class="align-middle">{{item.created_at | date : 'dd/MM/yyyy HH:mm'}}</td>
      <td class="align-middle">
        <button class="btn btn-danger btn-sm" (click)="delete(i)"><i class="fa fa-times fa-lg"></i></button>
      </td>
    </tr>
  </tbody>
</table>

